@font-face {
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-family: 'Open Sans italic';
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

.head-out-wrapper {
    background: #F6F2F2;
    padding-top: 29px;

}

.head-wrapper {
    display: flex;
    align-items: center;
    max-width: 1249px;
    margin: 0 auto 103px;
    background-color: #2D2D2D;
    justify-content: center;
}

.menu-button {
    visibility: hidden;
    width: 100px;
    height: 50px;
    background-color: #FF3F40;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: 800;
}

.site-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 89px;
    padding: 0 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.site-menu a:hover {
    background-color: #FF3F40;
}

.intro {
    display: flex;
    max-width: 1249px;
    margin: 0 auto 107.47px;
    padding: 0 2vw;
}

.intro-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-right: 73px;
}

.intro-wrapper h1 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0 0 35.52px 0;
}

.intro-wrapper p {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0 0 63.48px 0;
}

.contact-button {
    display: block;
    width: 227px;
    height: 55px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    background: #FF2D2D;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 123px;
}

.intro-image {
    display: flex;
    flex: 0 1 551px;
}

.intro-image img {
    width: 100%;
    object-fit: cover;
}
 /*services*/
.services-wrapper {
    display: flex;
    max-width: 1249px;
    margin: 0 auto 112px;
    padding: 0 2vw;
}

.services-description {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-right: 10%;
}

.services-description h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 42.19px;
    text-transform: uppercase;
    margin: 0;
}

.services-description p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.learn-button {
    display: block;
    width: 227px;
    height: 55px;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 18.04px;
    color: #FF2D2D;
    border: 2px solid #FF0000;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.img {
    margin-top: 20px;
}

.service {
    width: 48%;
}

.first,
.third {
    padding-right: 20px;
}

.service h3  {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
}

.service p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

/*bottom line*/
.bottom-line {
    display: flex;
    max-width: 1249px;
    margin: 0 auto 104px;
    height: 5px;
    background: #ECECEC;
}

/*products*/
.products-wrapper-out {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1249px;
    padding: 0 2vw;
    margin: 0 auto 86px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.description h1 {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 42px;
    margin: 0 0 28.58px;
}

.description p {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 33.48px;
}

.center-line {
    display: flex;
    width: 135px;
    margin: 0 44.63% 86px;
    height: 5px;
    background: #FF2D2D;
}

.menu-wrapper {
    display: block;
    max-width: 73.82%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu li {
    display: flex;
    list-style: none;
    margin-right: 27px;
}

.menu a {
    text-decoration: none;
    color: #000000;
    background: #ffffff;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
}

.catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2vw;
    max-width: 1249px;
    margin: 0 auto 137px;
}

.product {
    flex: 1 1 24%;
    min-width: 250px;
    max-width: 299px;
    height: 291px;
    background: #5281FF;
    margin-bottom: 18px;
    object-fit: cover;
}

/*Team*/
.team-wrapper {
    display: flex;
    max-width: 1249px;
    margin: 0 auto; 
    padding: 0 2vw;
}

.team-description {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.team-description h1 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 42px;
    margin: 0 0 34.52px;
    text-transform: uppercase;
}

.team-description p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 37.48px;
}

.team-left-line {
    display: flex;
    width: 134px;
    height: 5px;
    background: #FF2D2D;
    margin-bottom: 66px;
}

.team-list-wrapper {
    display: flex;
    max-width: 1249px;
    padding: 0 2vw;
    margin: 0 auto 108px;
}

.team-leader {
    display: flex;
    max-width: 321px;
    max-height: 460px;
    flex: 1 1 460px;
    margin-right: 37px;
    margin-top: 20px;
    background: #eb6d4a8f;
}

.team {
    display: flex;
    flex-wrap: wrap;
    width: 71%;
}

.team h2 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px 0 29.52px 0;
}

.team p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 46.48px 0;
}

.social-menu-wrapper {
    display: flex;
    max-width: 409px;
    margin-bottom: 37px;
}

.social-menu {
    display: flex;
    padding: 0;
    margin: 0;
}

.social-menu li {
    list-style: none;
    background: #ffffff;
    font-family: 'Open Sans italic';
    font-weight: 400;
    font-size: 18px;
    margin-right: 10px;
}

.social-menu a {
    text-decoration: none;
    color: #000000
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.member {
    display: flex;
    position: relative;
    flex: 1 1 200px;
    max-height: 214px;
    max-width: 197px;
    background: #d4dce680;
    margin: 19px 19px 0 0;
}

.member-name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 37px;
    color: #ffffff;
    background: #000;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
}

.member:hover .member-name {
    visibility: visible;
}

/*midle header*/
.midle-header {
    background: #2D2D2D;
    text-align: center;
    margin-bottom: 104px;
}

.midle-header h1 {
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 42px;
    padding: 151px 0 16.52px 0;
    margin: 0;
}

.midle-header p {
    color: #ffffff;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 56.92px;
}

.email-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 141px;
}

.contact-information  {
    display: flex;
    align-items: center;
    padding: 0;
    width: 524px;
    height: 82px;
    background: #ffffff;
    margin-right: 19px;
    color: #000000;
    padding: 0 0 0 38px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    
}

.email-text-wrapper button {
    width: 200px;
    height: 82px;
    background: #FF2D2D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
}

/*Get in touch*/
.touch-text-wrapper {
    display: flex;
    max-width: 1249px;
    padding: 0 2vw;
    margin: 0 auto;
}

.touch-text {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 0 58.48px;
}

.touch-text h1 {
    margin: 0 0 45.52px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 42px;
}

.touch-text p {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 58.48px;
}

.touch-left-line {
    width: 134px;
    height: 5px;
    background: #FF2D2D;
}

/*contact-info*/
.feedback-text-wrapper {
    display: flex;
	justify-content: center;
    padding-bottom: 110px;
}

.left-box {
    flex: 1 1 auto;
    background: #ffffff;
}

.feedback-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 734px;
    padding-left: 2vw;
    margin-right: 104px;
}

.feedback-name-email {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;
}

.feedback-name,
.feedback-mail {
    width: 289px;
    height: 70px;
    background: #8e8e8e;
    background-color: #f3f3f3;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 50px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

.name {
    margin-right: 51px;
}

.feedback-wrapper {
    display: flex;
    align-items: flex-start;
    flex: 1 1 252px;
    height: 252px;
    width: 100%;
    margin-bottom: 43px;
}

.feedback {
    width: 100%;
    height: 221.77px;
    outline: none;
    resize: none;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background: #8e8e8e;
    background-color: #f3f3f3;
    padding: 32.77px 20px 0 20px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

.feedback:placeholder-shown {
    padding-left: 53px;
}

.send-button {
    width: 100%;
    height: 75px;
    background: #FF3B3B;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.feedback-info-wrapper {
    display: flex;
    background: #2D2D2D;
    color: #ffffff;
    max-width: 411px;
    padding-right: 2vw;
}

.feedback-info {
    padding: 141px 81px;
}

.feedback-info h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
}

.feedback-info p,
.phone-number {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    opacity: 0.8;
}

.right-box {
    flex: 1 1 auto;
    background: #2D2D2D;
}

/*footer*/
.footer-content-wrapper {
    display: flex;
    align-items: center;
    min-height: 113px;
    background: #2D2D2D;
    padding: 0 2vw; 
}

.footer-content{
    display: flex;
    flex: 1 1 1249px;
    justify-content: space-between;
    max-width: 1249px;
    margin: 0 auto;
}

.footer-content span {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.5;
}

.footer-socials {
    display: flex;
}

.footer-link:not(:last-child) /*esclude l'ultimo elemento*/{
	margin-right: 18px;
}

.footer-link:hover {
    opacity: 0.5;
}

button:hover {
    opacity: 0.8;
}

@media (max-width: 1286px) {
    .intro {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 107.47px;
    }

    .intro-wrapper {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .services-wrapper {
        flex-wrap: wrap;
    }

    .services-description {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .services-description p,
    .services-description h2 {
        padding-bottom: 20px;
    }

    .services {
        width: 100%;
    }

    .description {
        text-align: center;
    }
    
    .product{
        max-width: 100%;
        margin-right: 1vw;
    }

    .team-leader {
        margin: 0;
    }

    .team-list-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .team {
        width: 100%;
        justify-content: center;
    }

    .touch-text-wrapper {
        justify-content: center;
        text-align: center;
    }

    .touch-text {
        width: 100%;
        justify-content: center;
    }

    .feedback-text-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback-text {
        margin: 0;
        padding-right: 2vw;
    }

    .left-box {
        display: none;
    }

    .feedback-name-email {
        width: 100%;
        margin: 0;
        justify-content: center;
    }
    .feedback-name {
        width: 100%;
        margin-right: 0;
    }

    .feedback-mail {
        width: 100%;
    }

    .send-button {
        margin-bottom: 20px;
    }
}

@media (max-width: 734px) {
    .head-wrapper {
        flex-wrap: wrap;
    }

    .site-menu {
        display: none;
    }

    .site-menu a {
        width: 100%;
        margin: 0;
    }

    .menu-button {
        visibility: visible;
    }

    .visible {
        display: flex;
    }
}

@media (max-width: 414px){
    .service {
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 360px) {
    .intro-wrapper h1 {
        font-size: 42.19px;
    }

    .first,
    .third {
        padding: 0;
    }

    .center-line {
        margin: 0 auto 86px;
    }

    .menu li {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        background: #ffffff;
    }

    .product {
        margin-right: 0;
    }

    .team-wrapper {
        justify-content: center;
        text-align: center;
    }

    .team-description {
        width: 100%;
    }

    .team-leader {
        width: 100%;
    }

    .team-list-wrapper {
        text-align: center;
    }

    .team {
        text-align: center;
    }
    .member {
        margin-right: 0;
    }

    .contact-information {
        margin: 0 auto 20px;
        width: 70%;
    }

    .touch-text-wrapper {
        justify-content: center;
        text-align: center;
    }

    .touch-text {
        width: 100%;
        justify-content: center;
    }

    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer-content span {
        margin-bottom: 20px;
    }
}